* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font: 13px Helvetica, Arial;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.map {
  height: 100%;
  margin: 0;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
svg {
  background-color: white;
  z-index: 0;
}
.tooltip {
  background: white;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  padding: 2px;
  position: absolute;
  width: 200px;
  height: 80px;
  pointer-events: none;
  z-index: 99;
}

/********************************************/
.ldBar svg {
  background-color: inherit !important;
}

/********************************************/
.btn {
  border: 1px solid grey;
  display: inline-block;
  padding: 0.2em 0.5em;
  margin: 0.2em;
}

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  height: 56px;
  justify-content: space-between;
}

.overlay .side {
  padding: 1em;
}

.overlay .centerOverlay {
  flex-grow: 1;
  text-align: center;
  padding: 1em;
}

.overlayForm {
  position: absolute;
  left: 1em;
  top: 70px;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 1em;
}

.overlayForm input {
  width: 50px;
}

.overlayForm #btnCalcEffectiveness {
  display: none;
  width: 150px;
}